
*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


#commentButton
{  background-color: yellow; /* red*/
  /* border: none; */
  color: #808080;
  padding: 10px 30px; /* button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;

}
#respond {
    /*margin-top: 40px;*/
  }
  

#emailName
{
  position:absolute;
  width:20%;
  right:55%;
   bottom:10.9%;
}
#email{
  position:absolute;
    width:20%;
    right:55%;
     bottom:9.1%;

}

#comment_author{
    width:20%;
}
#comment{
    height: 100px;
    width:50%;
  }
  #respond input[type='text'],
  #respond input[type='email'],
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border-color:#8B8000;
  
    line-height: 1.4em;
  }
  
  #rightAllignement 
  {
    position: relative;
    left:7%;
    top: 1%; 
  }

  #spectacleImage
  {          
    top=5%;
  width:300px;
  height:400px;
  /* border-style: outset; */
  }

  .spectacleInfo
  {
    position: absolute;
    left: 35%;
    /* font-family: "Times New Roman", Times, serif; */
    font-size: 15px;
}

.spectacleHeader
{
  color: #8B8000;
}

#spectacleTitle
{
  /* position: absolute; */
  top: 2%;
  font-size: 50px;
  
  /* color: yellow; */
}

#paragraphStructure
{
width:520px;
/* height:00px; */
}

#paragraphStructure2
{
	position: relative;
width:700px;
height:100px;

/* height:00px; */
}

#spectacleTheatre
{
  top: 9.5%;
  text-decoration: underline;
  color: #808080;
}
#spectacleDate
{
  /* position: absolute; */
  top: 6.5%;
  
}

#spectacleTime
{
  /* position: absolute; */
 top: 5%; 
}
#spectacleLocation
{
  /* position: absolute; */
  top: 8%;
  color: #808080;
  text-decoration: underline;}
#spectacleVideo
{
  /* position: absolute; */
  top: 11%;
  color: #808080;
  text-decoration: underline;
}
#spectacleComment
{
  /* position: absolute; */
  top: 12.5%;
  color: #808080;
  text-decoration: underline;}
#spectacleReservation
{
  top: 14%;
  background-color: yellow; /* red*/
  /* border: none; */
  color: #808080;
  padding: 10px 30px; /* button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.paragraph
{

  left:20%;
  height:700;
}


  #commentaireImage
  {
    border-radius: 50%;
    right: 8%;
    top: 86%;    
    width:20%;
      
      position: absolute;

  }

   #textImageComment{
    
    font-size: 80;
    top: 84%;    
        position: absolute;
      right:7%;
      /* font-family: cursive; */
    }

    #thumbsUp
    {
        top: 98%;
        position: absolute;
        right:20%;
    color:green;
            }
    


  #thumbsDown
    {
        top: 98%;
        position: absolute;
        right: 20%;
        color:red;
    }            

#videoPopup
{
  position: absolute;
  top:23%;
  right:10%;
  /* border-style: double; */
}
.locationDetails
{
/*font-size: 25px;*/
}

/* POPUP FOR COMMENTS */
  /* #videoPopup
    {
position:absolute;
height:100vh;
width:100vw;
/* background-color: pink; 
background-color: rgba(0, 0, 0, 0.3);
    } */

 






button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.btn:focus {
  outline: none;
}

.green{
  color: green;
}

.red{
  color: red;
}


