* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
}

.marge {
  margin: 0 2em;
}

body>.navbar-default .navbar-nav>li>a>.fa-github-alt {
  font-size: 2em;
}



#marque {
  font-size: 3em;
  font-weight: bold;
}

.navbar-default ul li a:hover {
  color: #B0EC99 !important;
}

.navbar-default{
  margin-bottom:0;

}
